.todo {
	display: block;
	position: relative;
	height: 56px;
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	opacity: 1;
	transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
}

.todo-enter {
	opacity: .01;
	height: 0px;
}

.todo-enter.todo-enter-active {
	opacity: 1;
	height: 56px;
}

.todo-leave {
	opacity: 1;
	height: 56px;
}

.todo-leave.todo-leave-active {
	opacity: .01;
	height: 0px;
}

.todo__content {
	font-size: 16px;
	line-height: 56px;
	padding: 0 16px;
}

.todo__remove {
	position: absolute;
	right: 0;
	top: 0;

	width: 24px;
	height: 24px;

	background-color: transparent;
	border: none;
	outline: 0;
	width: 56px;
	height: 56px;
	padding: 16px;
	fill: #757575;
	color: #757575;
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);	
}

